{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<h1>{{ question.question_text }}</h1>

<form action="{% url 'polls_site:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <br>
    {% endfor %}
    {% if request.user.is_authenticated%}
    {% else %}
    <p>You cant alter results as a Guest</p>
    {% endif %}
    <input type="submit" value="Vote">
</form>

